* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    margin: 0 auto;
    max-width: 1770px;
}

.section__container {
    max-width: $max-width;
    margin: auto;
    padding: 5rem 1rem;
}

.section__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
    margin-bottom: 4rem;
}

.section__title {
    font-size: 2rem;
    font-weight: 600;
    color: $text-dark;
}
  

a {
    text-decoration: none;
}

img {
    width: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
}