  $primary-color: #f59e1d;
  $primary-color-dark: #fbbf24;
  $secondary-color: #2a80b3;
  $text-dark: #333333;
  $text-light: #f5f5f5;
  $white: #ffffff;


  
  $max-width: 1200px;
  $tablet-width: 990px;
  $mobile-width: 600px;
