.blog__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    @include media-tablet {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
    @include media-mobile {
        grid-template-columns: repeat(1, 1fr);
    }
}

.blog__details {
    display: grid;
    gap: .5rem;
    color: $text-dark;
}

.blog__details p {
    font-size: .8rem;
}

.blog__details h4 {
    font-size: 1.2rem;
    font-weight: 500;
}

.blog__details span {
    font-size: .8rem;
    width: fit-content;
    color: $primary-color;
    cursor: pointer;
    transition: .3s;
}

.blog__details span:hover {
    color: $secondary-color;
}